/*Panel desplegable: https://www.youtube.com/watch?v=lB46vlLi0EY*/
/*Scroll indicator: https://www.w3schools.com/howto/howto_js_scroll_indicator.asp*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Lora, sans;
    overflow: auto;
    height: 100vh;
}
body::-webkit-scrollbar {
    display:;
}
article {
    display: block;
    font-size: 20px;
    line-height: 29px;
}
#section {
  height: 100%;
}
header.title {
    margin: 12vh 0;
    max-width: 100%;
    margin-left: 4em;
    margin-right: auto;
}
article > * {
    max-width: 100%;
    margin-left: 4em;
}
p {
    margin-top: 1em;
    margin-bottom: 1em;
}
h1 {
    padding: 1em 0;
    color: #d35400;
    font-size: 70px;
    font-family: 'Lato';
}
h2 {
    font-size: 36px;
    color: #000;
    font-weight: 400;
    line-height: 40px;
    cursor: pointer;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 32px;
}

.checkbox {
    display: none;
}
.checkbox:checked ~ .left-panel {
    right: 0;
}
.left-panel {
    background-color: #eaeaea;
    position: fixed;
    right: -30em;
    top: 0;
    width: 30em; 
    height: 100%;
    transition: 0.4s;
    padding:  3em 5em;
    z-index: 10;
    overflow: auto;
}


.hamburger {
    position: fixed;
    background-color: transparent;
    top: 26px;
    right: 60px;
    z-index: 5;
    width: 3em;
    height: 3em;
    padding: 3px 8px;
    cursor: pointer;
    z-index: 12;
}


  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: absolute;
    top: 22px;
    flex: none;
    width: 36px;
    height: 4px;
    background: #192a56;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    z-index: 12;
    cursor: pointer;
    border-radius: 3px;
  }
  
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 4px;
    background: inherit;
    border-radius: 3px;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .checkbox:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .checkbox:checked + .hamburger > div:before,
  .menu-wrap .checkbox:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .checkbox:checked:hover + .hamburger > div {
    transform: rotate(225deg);

}
ul.indice li {
    list-style: none;
    color: #000;
    margin: 8px 0;
}
ul.indice li:hover {
  color: #D35400;
  text-decoration: #D35400 underline;
}
ul.indice a {
    text-decoration: none;
}
ul.indice h3 {
  color: #d35400;
  padding-top: 12px;
}

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    padding: 10px 4em;
    padding-top: 25px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 28px;
    font-family: 'Lato';
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #192a56;
    color: #fff;
  }
  
  
  /* Float the link section to the right */
  .header-right {
    float: left;
    margin-left: 3em;
  }
  .header-right a {
      margin: 0 1em;
      font-family: 'Lato';
  }
  
.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}
.text {
  padding: 4em 4em;
  font-size: 26px;
}
.text strong {
  color: #D35400;
}
.text a {
  text-decoration: none;
  color: #d35400;
}

ol.home-list {
  list-style: none;
  font-size: 28px;
  padding: 1em 0;
}
ol.home-list a {
  text-decoration: none;
  color: #000;
}
ol.home-list a:hover {
  color: #D35400;
}
ol.home-list li {
  padding: 8px 0;
}



.button {
  border-radius: 4px;
  background-color: #d35400;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 270px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}